/*header*/
.header_menu_inner{width:100%;}
#navbar{ margin:0; padding:0;}
.navbar-header{margin:0 0 0 2% !important;}
.navbar-header  i {font-size:18px; color:#FFF; border:0;}
.navbar-nav{width:auto; margin:0;}
.header_menu_txt, .header_menu_link {width:auto;}
#navbar ul li a {padding: 10px 0;}
#navbar ul li a:hover {background: #555;}
.header_logo{padding:5px;}
.navbar-inverse .navbar-nav>.active>a {background-image: none; background: #555; -webkit-box-shadow: none; box-shadow: none;}
.header_search_form input[type=text]:focus {
	background-color: white;
	background-image: url(images/searchicon_dark.png);
	background-position: right 5px;
    width: 150px;
}
/*header END*/

/*right menu*/
.menu_right{width:50px; padding:5px 5px; right:5px; top:30%;}
/*right menu END*/
	
.carousel-indicators li{ width:10px; height:10px; margin:0 4px;}
.carousel-indicators .active { width:10px; height:10px;  margin:0 4px;}
#carouselExampleIndicators .carousel-control.right, #carouselExampleIndicators .carousel-control.left{font-size:16vw; margin:18% 5px;}

/*foot*/
.footer_top{ padding:5% 2% 5% 10%;}
.footer_bottom{padding:2% 10%; font-size:12px;}
.footer_bottom_right{ float:none; text-align:center;}
.footer_bottom_left{ text-align:center;}
/*footer END*/

.inner_page_type{padding:5px 2%;}

.m_page{ padding:0;}
.m_page_inner{ padding:0 5% 2% 5%;}
.m_page_left_menu{ padding:3% 2%; background:none;}
.m_page_left_menu .row {border:0;}
.m_page_top{padding:3% 2%;}
.m_page_right{padding:0;}
.add_cart, .add_cancel, .add_next{padding:15px 0;}
.m_page_bottom_btn .add_next{ margin:15px 2% 0 2%; width:96%;}
.m_page_bottom_btn .add_cart{ margin:15px 1% 15px 2%; width:47%}
.m_page_bottom_btn .add_cancel{ margin:15px 2% 15px 1%; width:47%;}

/*product*/
.product_page{ padding:0;}
.product_page_inner { padding: 0 0 2% 0;}
.product_page_left_menu{ padding:3% 2% 0 2%; background:none;}
.product_page_left_menu .row {border:0;}
.product_page_left_menu_item {padding:0 3px;}
.product_page_item_box{padding:6% 2%}
.product_page_top{padding:3% 2%;}
.product_page_top_page_ctrl{text-align:left;}
.inner_page_left_favor{ background:#D2D3D3; padding:5% 10%;}
/*product END*/

/*product_brand*/
.product_page_item_brand_img{padding:2% 20% 4% 20%; text-align:center;}
/*product_brand END*/

/*product_detail*/
.product_detail_page{ padding:0 0 2% 0;}
.product_detail_page .row{background-color:#FFF;}
.product_detail_page_left{ padding:3%; margin:3%;}
.product_detail_page_right{position:relative; padding:0;}
.product_detail_page_right_title, .product_detail_page_choose{padding:0 15px;}
.product_detail_page_choose .css_td{padding:2% 0;}
.product_detail_page_item .w2{width:30%;}
.product_detail_page_item .w8{width:69%;}
.product_detail_page_outlink{position:absolute; top:0; right:10px;}
.product_detail_page_item_txt{padding:2%;}
.product_detail_page_item_txt .active {background: #FF4026;}
.product_detail_page_item_txt .item{margin:10px 0;}
.product_detail_page_item_txt_titel_1, .product_detail_page_item_txt_titel_2, .product_detail_page_item_txt_titel_3 {background-color: #25B7EB; color:#FFF; border: 0;padding: 10px 0;width: 100%;}
.product_detail_page_bottom{ padding:5% 0;}
.product_detail_page_favor_title img{width:80%;}
.product_detail_page_favor .favor_slider{padding:0 10%;}
/*product_detail END*/

/*reserve_2*/
.table-responsive{border:0; margin:0;}
.reserve_2_page_table .col_1{ padding:15px 0 15px 5%; width:35%}
.reserve_2_page_table .col_2{ padding:15px 5% 15px 0; width:65%; white-space: normal !important;}
/*reserve_2 END*/

/*m_reserve*/
.m_reserve_page_info_tabe{margin:2%; padding:2%; border:1px #C0C1C1 solid; width: 96%;}
/*m_reserve END*/

.login_a_btn, .send_btn_style{padding:1vh;font-size:1.8em;letter-spacing:0.1em;}

/*login*/
.login_left_box, .login_right_box{padding:2vh 10vw 20vh 10vw;}
.login_title_text{font-size:3.3em;padding-bottom:6vh;}
.login_account_text{font-size:1.3em;padding:3vh 0 7vh 0;}
.login_or_box{padding:5vh 0;}
.login_or_item{padding:2vh;border-radius:4vh;}
.login_fb_a{font-size:1em;}
.login_google_a{font-size:1em;}

/*MEMBER*/
.member_form_ul li{padding:20px 0;}
.member_form_ul li div.member_form_div{width:35%;padding-left:10%;}
.member_form_ul li div.member_form_div1{width:65%;}
.member_form_ul li div.member_form_div1 input{width:90%;padding:10px 5px;}
.member_form_ul li div.member_form_divA{width:65%;}
.member_form_ul li div.member_form_divA .send_btn_style{width:90%;}

/*SHOP_LIST*/
.shop_list_outer_box{padding:10px;}
.shop_list_ul li{width:50%;padding:10px 10px;}
.shop_list_area_select{width:100%;padding:10px 5px;margin:10px 0 20px 0;}

/*SHOP_DETAIL*/
.a_tel{display:block;text-align:center;padding:5px 30px;background:#C00;color:#FFF;font-size:0.9em;}


/*NEWS*/
.news_right_container, .news_detail_right_container{padding:0;}
.news_topic_selector{width:48%;padding:5px;margin:2% 1%;}
.news_item_ul li{padding:20px;}
.news_detail_right_box{padding:20px;}

/*ABOUT*/
.about_w_title_box{top:-23px;}
.about_w_title_text{padding:5px 10px;font-size:1.5em;}