/*用bootstrap3讓div等高*/
.equalheight {
  display: table;
  width: 100%;
}
.equalheight [class^=col-] {
  display: table-cell;
  float: none;
}
/*END-用bootstrap3讓div等高*/

#navbar .dropdown:hover .dropdown-menu {display:block;}
.navbar>.container-fluid .navbar-brand {margin-left:0}
.header_menu_txt.dropdown{position:static;}
.header_menu_txt.dropdown > .dropdown-menu{width:100%; background-color:#777; left:-1px;}
.header_menu_txt.dropdown > .dropdown-menu > li{width:16%; display:inline-block;}
.header_menu_txt.dropdown > .dropdown-menu > li > a{ padding:15px 0 !important;}

.m_page_left_menu{margin: 70px 2% 0 0;}
.m_page_left_menu .row{ padding:7px 0; border-bottom:1px #C0C1C1 solid; height:232px;}
.m_page_top{margin-top: -303px;}
.m_page_right{float: right; margin: 0; margin-top: -251px;}
.m_page_bottom_btn .add_cart{ margin:10px 1% 0 0; width:49% !important;}
.m_page_bottom_btn .add_cancel{ margin:10px 0 0 1%; width:49% !important;}

/*product*/
.product_page_top{margin-top: -285px;}
.product_page_left_menu{margin: 90px 2% 0 0;}
.product_page_left_menu .row{ margin:15px 0; padding:7px 0; border-bottom:1px #C0C1C1 solid; border-top:1px #C0C1C1 solid;}
.product_page_left_menu select{margin:5px 0 10px 0;}
.product_page_item_box{float: right; margin: 0; margin-top: -219px;}
/*product END*/

/*product_brand*/
/*product_brand END*/

/*product_detail*/
.product_detail_page{ padding:0 10% 2% 10%;}
.product_detail_page_left{ padding:2%; margin:2% 0;}
.product_page_left_menu > form > .row{height:151px;}
.product_detail_page_right{padding:2%; margin:2% 0;}
.product_detail_page_right_title{padding-bottom:10%;}
.product_detail_page_choose .css_td{padding:4% 0;}
.product_detail_page_item_txt{position:relative;}
.product_detail_page_item_txt_titel_2{position:absolute; top:0; left:90px;} 
.product_detail_page_item_txt_titel_3{position:absolute; top:0; left:180px;}
.product_detail_page_bottom{ padding:1% 10%;}
.product_detail_page_favor{text-align:center; padding:0 10%;}
.product_detail_page_favor_title{padding:1% 0;}
/*product_detail END*/

/*reserve_2*/
.reserve_2_page_table .col_1{ padding:20px 0 20px 10%; width:40%;}
.reserve_2_page_table .col_2{ padding:15px 10% 15px 0; width:60%;}
/*reserve_2 END*/

/*m_reserve*/
/*m_reserve END*/

.login_a_btn, .send_btn_style{padding:1vh;font-size:1.3em;letter-spacing:0.1em;}

/*login*/
.login_left_box, .login_right_box{padding:2vh 5vw 20vh 5vw;}
.login_title_text{font-size:3.3em;padding-bottom:6vh;}
.login_account_text{font-size:1.3em;padding:3vh 0 7vh 0;}
.login_or_box{padding:5vh 0;}
.login_or_item{padding:2vh;border-radius:4vh;}
.login_fb_a{font-size:1em;}
.login_google_a{font-size:1em;}

/*SHOP*/

/*SHOP_LIST*/
.shop_list_outer_box{padding:50px 50px 100px 50px;}
.shop_list_area_menu{padding:0 0 10px 0; border-bottom:1px #CCC solid; display:block !important;}
.shop_list_area_menu>li{width:20%; float:left; margin:0 5px;}
.shop_list_area_item:hover{background-color:#EEE;}
.shop_list_area_item.active{background-color: #26B7EC;}
.shop_list_area_item.active>a{color:#FFF;}
.shop_list_ul li{width:20%;padding:20px 10px;}

/*SHOP_DETAIL*/
.a_tel{padding:5px 0;color:#3B79B3;font-size:1.2em;}

/*MEMBER*/
.member_form_ul li{padding:20px 0;}
.member_form_ul li div.member_form_div{width:40%;padding-left:20%;}
.member_form_ul li div.member_form_div1{width:60%;}
.member_form_ul li div.member_form_div1 input{width:80%;padding:5px 10px;}
.member_form_ul li div.member_form_divA{width:60%;}
.member_form_ul li div.member_form_divA .send_btn_style{width:80%;}

/*NEWS*/
.news_item_ul li{padding:20px 40px;}
.news_detail_right_box{padding:20px 40px;}

/*ABOUT*/
.about_bottom_left_box{border-right:solid thin #999;}
.about_w_title_box{top:-35px;}
.about_w_title_text{padding:10px 20px;font-size:2em;}

/*contact*/
.contact_page_left_box{background:#FFF;padding:10px;}
.contact_menu{margin:10px 0;}